---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}


<ul class="tag-box inline">
     <li><span class="glyphicon glyphicon-tag"></span></li>
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>



<!-- Tab panes -->
<div class="tab-content">
   {% for tag in site.tags %}
         <div class="tab-pane" id="{{ tag[0] }}-ref">
        <h2 >{{ tag[0] }}</h2>
        <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
    </div>
  
 
{% endfor %}
</div>